<div class="column is-one-fifth">
  <div class="card">
    <% if customer.image.attached? %>
      <div class="card-image">
        <figure class="image is-1by1">
          <%= image_tag(customer.image, alt: "Customer Image", class: "is-rounded") %>
        </figure>
      </div>
    <% end %>

    <div class="card-content">
      <p class="title is-5 has-text-centered">
        <%= customer.full_name %><br>
      </p>
      <p class="subtitle is-6 m-3">
        <strong>Phone:</strong> <%= customer.phone_number %><br>
        <strong>Email:</strong> <%= customer.email_address %><br>
        <strong>Notes:</strong> <%= customer.notes %>
      </p>
    </div>
  </div>
</div>
